@use '@/styles/Mixins' as mixin
@use '@/styles/Variables' as var
    
.about
    @include mixin.tamanho(100%, auto)
    background-color: var.$color2

    .aboutContainer
        @include mixin.tamanho(100%, auto)
        background: linear-gradient(180deg, #6a0000 0%, #c70000 50%, #6a0000 100%)
        display: flex
        justify-content: center
        align-items: center

        .aboutText
            flex: 1
            display: flex
            flex-direction: column
            justify-content: center
            text-align: center
            gap: var.$h1

            h1 
                font-size: var.$h3
                font-weight: var.$w5
                color: var.$color4

            p 
                font-size: var.$h1
                font-weight: var.$w3
                color: var.$color1

        .aboutImage
            flex: 1

            img
                @include mixin.tamanho(100%, auto)

    @media (max-width: 890px)
        padding: 0
        border-bottom: 1px solid #000

        .aboutContainer
            flex-direction: column
            padding: var.$h1
            gap: var.$h1

            .aboutText
                flex: 1
                text-align: center

            .aboutImage
                flex: 1

                img
                    @include mixin.tamanho(100%, auto)
