.banner
    width: 100%
    height: 83vh
    position: relative

    .bannerVideo
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center

    .overlay
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: linear-gradient(140deg, #ffffff00 0%, #0000000f 85%, rgba(0,0,0,1) 100%)
        z-index: 1

    .bannerContent
        width: 100%
        height: 100%
        position: absolute
        top: 70%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 2
        color: white
        display: flex
        flex-direction: column
        justify-content: center
        padding: 0 2rem

        .logo
            display: none

        h1
            font-size: 3rem
            margin-bottom: 1rem
            text-align: end
            color: #fbff00

        p
            font-size: 1.5rem
            text-align: end

    @media (max-width: 768px)
        .bannerContent
            top: 60%
            padding: 0 1rem

            h1
                font-size: 2rem

            p
                font-size: 1rem

    @media (max-width: 580px)
        .bannerContent
            top: 55%
            
            .logo
                width: 100%
                padding: 1rem 0      
                display: flex
                justify-content: center

            img
                width: 300px

            h1
                text-align: center
                margin-top: 1rem
                font-weight: 500

            p
                font-size: 1.1rem
                text-align: center
