@use '@/styles/Mixins' as mixin
@use '@/styles/Variables' as var
    
.kids
    @include mixin.tamanho(100%, 100%)
    background-color: var.$color2

    .kidsContainer
        flex: 2 1
        background: linear-gradient(180deg, #6a0000 0%, #c70000 50%, #6a0000 100%)
        display: flex
        justify-content: center
        align-items: center

        .kidsImage
            flex: 1

            img
                @include mixin.tamanho(100%, auto)

        .kidsText
            flex: 1
            display: flex
            flex-direction: column
            justify-content: center
            text-align: center
            gap: var.$h1

            h1 
                font-size: var.$h3
                font-weight: var.$w5
                color: var.$color4

            p 
                font-size: var.$h1
                font-weight: var.$w3
                color: var.$color1

    @media (max-width: 890px)
        padding: 0

        .kidsContainer
            flex-direction: column-reverse
            padding: var.$h1
            gap: var.$h1

            .kidstImage
                flex: 1

                img
                    @include mixin.tamanho(100%, auto)

            .kidsText
                flex: 1
                text-align: center

            
