@use '@/styles/Mixins' as mixin
@use '@/styles/Variables' as var
    
.headerContainer
    position: sticky
    top: 0
    left: 0
    @include mixin.tamanho(100%, 80px)
    background-color: #000000c4
    z-index: 5

    .logo
        @include mixin.tamanho(200px, auto)

        img
            padding: .5rem
            @include mixin.tamanho(100%, auto)

    nav
        @include mixin.tamanho(100%, 100%)
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 var.$h4

        .navLinks
            display: flex
            align-items: center
            gap: var.$h4
            list-style: none

            .link
                text-decoration: none
                color: var.$color1
                font-size: var.$h1
                font-weight: var.$w4
                transition: color 0.3s ease

                &:hover
                    color: var.$color4

@media (max-width: 580px)
    .headerContainer
        position: fixed
        bottom: 5px
        top: auto
        left: 0
        background-color: #000000c4
                
        nav
            .logo
                display: none

            .navLinks
                @include mixin.tamanho(100%, auto)
                display: flex
                justify-content: space-evenly
                align-items: center

        