@use '@/styles/Mixins' as mixin
    
.bannerAmbiente
    @include mixin.tamanho(100%, 40vh)
    @include mixin.centralizar

    .bannerAmbienteImg
        @include mixin.tamanho(100%, 100%)

        img
            @include mixin.tamanho(100%, 100%)
            object-fit: cover
            object-position: center

    @media (max-width: 590px)
        height: auto